.custom-input {
  position: relative;
  display: inline-block;

  input, select {
    color: #000000;
    font-size: 15px;
    height: 40px;
    width: 100%;
    @include opensans-regular;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px 0 10px;
    border-radius: 5px;
    border: 1px solid #999999;
    outline: none;
    &::placeholder {
      color: #727272;
    }
  }

  select {
    color: #727272;
    option {
      color: #000000;
    }
  }


  svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  label {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #808994;
    font-size: 15px;
    @include opensans-regular;
    transition: all .3s;
    pointer-events: none;
  }


}
