.custom-select,
.children-select {
  position: relative;

  &._add-children {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .custom-select__delete-btn {
      position: absolute;
      right: 15px;
      top: 9px;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      transition: all .3s;

      &:hover {
        &::after, &::before {
          background-color: #3188E4;
        }
      }

      &::before, &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 18px;
        right: 0;
        top: 0;
        background-color: #ADB9C7;
      }

      &::after {
        transform: rotate(90deg);
      }

    }


  }


  &:hover svg path {
    fill: #0D77E7;
  }

  label {
    position: absolute;
    left: 10px;
    top: -1px;
    z-index: 1;
    color: #808994;
    font-size: 13px;
    @include montserrat-regular;
  }

  .choices__list--dropdown .choices__placeholder {
    display: none;
  }

  .choices__placeholder {
    color: #000000;
    font-size: 17px;
    @include montserrat-regular;
    opacity: 1;
  }

  .choices {
    margin: 0;
  }

  .choices__inner {
    min-height: auto;
    height: 46px;
    padding: 3.5px 5px;
    color: #000000;
    border: 1px solid #ADB9C7;
    border-radius: 0;
  }

  .choices[data-type*=select-one]:hover .choices__placeholder {
    color: inherit;
  }

  .choices[data-type*=select-one]:hover .choices__inner {
    border: 1px solid #0D77E7;
  }


  .choices__list--single {
    padding: 14px 16px 4px 4px;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .choices[data-type*=select-one]::after {
    display: none;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 999;
  }

  .choices__item--selectable {
    color: #000;
    font-size: 17px;
    @include montserrat-regular;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    padding: 9px 0;
    border-radius: 0;
    border: 1px solid #0D77E7;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }

  .choices__list--dropdown {
    margin-top: 8px;
    top: 100%;
  }


  .choices__list[aria-expanded] .choices__item {
    padding: 5px 5px 5px 26px;
    font-size: 17px;
    @include montserrat-regular;
    margin-bottom: 5px;
  }

  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #E1EAF5;
    color: #000000;
    border-radius: 0;
  }

  .choices__item.choices__item--choice.is-selected.choices__item--selectable {
    color: #000000;
    background-color: #E1EAF5;

    &::before {
      display: none;
    }
  }

}
