.gant-filtration {
  margin-bottom: 15px;

  form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 550px) {
      flex-direction: column;
    }

    .custom-input {
      min-width: 220px;
      @media (max-width: 550px) {
        min-width: 100%;
      }
    }

    .custom-input:nth-child(1) {
      min-width: 400px;
      @media (max-width: 1440px) {
        min-width: 220px;
      }
      @media (max-width: 550px) {
        min-width: 100%;
      }
    }
    .custom-input:nth-child(2) {
      flex-grow: 1;
      min-width: 220px;
      @media (max-width: 550px) {
        min-width: 100%;
      }
    }
  }
}
