.gant-diagram {
  overflow-x: auto;
  overflow-y: hidden;

  &__controller {
    margin-bottom: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 5px;

    .gant-diagram__row {
      height: 45px;
    }
    .gant-diagram__cell {

      &._active {
        span {
          font-weight: 700;
        }

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          width: 1px;
          background-color: rgba(#FF0000, 0.9);
          transform: translateX(-50%);
          height: 99999999999999px;
          opacity: 0.9;
          z-index: 10;
        }

        &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: rgba(#FF0000, 0.9);
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }
      }

      &:not(:first-child) {
        width: 100px;
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }
    }
  }

  &__controller-switcher {
    display: flex;
    outline: 1px solid #D0D5DF;
    outline-offset: 1px;
    border-radius: 5px;
    background: #F6F6F6;

    a {
      display: flex;
      align-items: center;
      height: 30px;
      line-height: 1;
      font-size: 13px;
      padding: 0 15px;
      color: #000000;
      font-weight: 600;

      &._active {
        outline: 1px solid #4E4E4E;
        border-radius: 5px;
        background: #ffffff;
      }
    }
  }

  &__trigger {
    background: #2F65F6;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;

    svg:first-child {
      margin-right: 10px;
    }

    span {
      font-weight: 500;
      margin-left: 5px;
      margin-right: 20px;
      pointer-events: none;
    }
  }

  &__block {
    &:not(:first-child) {
      margin-top: 10px;
    }
    &._collapsed {
      .gant-diagram__trigger {
        .arrow-svg {
          transform: rotate(180deg);
        }
      }

      .gant-diagram__table-wrapper {
        display: none;
      }
    }
  }

  &__row {
    height: 40px;
    min-width: 1500px;
    display: flex;


    &._off-graph {
      border-top: 1px solid #BCBCBC;
      height: 50px;

      .gant-diagram__cell {
        font-size: 13px;
        font-style: italic;
      }
    }

    &:nth-last-child(2) {
      height: 50px;
    }

    &:not(:last-child) {
      margin-bottom: 1px;
    }

  }

  &__cell {
    position: relative;
    font-size: 13px;

    &:not(:last-child) {
      border-right: 1px dotted #868585;
    }


    &:first-child {
      width: 400px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      justify-content: space-between;
    }
  }

  &__table {
    margin-top: 5px;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    overflow: hidden;

    .gant-diagram__cell {
      font-size: 15px;
      width: 100px;
    }

    .gant-diagram__cell:first-child {
      width: 400px;
      justify-content: flex-start;

      a {
        color: #2F65F6;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
      }
    }
  }

  &__task-track {
    position: absolute;
    z-index: 5;
    height: 30px;
    top: 10px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    @include opensans-medium;
    left: 10px;

    &[data-color="white"] {
      background-color: #ffffff;
      border: 1px solid #5F5F5F;
    }

    &[data-color="green"] {
      background-color: #C4FE97;
      border: 2px solid #079907;
    }

    &[data-color="yellow"] {
      background-color: #FFE887;
      border: 2px solid #C18B00;
    }

    &[data-color="red"] {
      background-color: #FFD0D0;
      border: 2px solid #CF0019;
    }

    .title-task {
      line-height: 1;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

}
