.gant-diagram {
  overflow-x: auto;
  overflow-y: hidden;

  &__title-row {
    //min-width: 1500px;
    display: grid;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    grid-template-columns: 400px 1fr;

    .cell-list {
      display: grid;
      grid-template-columns: repeat(14, 1fr);
    }
  }

  &__person-row {
    // padding: 10px 0;
    //display: grid;      
	  //grid-template-columns: 400px 1fr;
  }

  &__cell {
    font-size: 13px;

    &:not(:last-child) {
      border-right: 1px dotted #868585;
    }

    //padding: 5px 0;

    &:first-child {
      //min-width: 400px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      justify-content: space-between;

    }
  }


  .person-cell {
    // padding: 0;
    // padding-top: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    .person-id {
      position: absolute;
      top: 10px;
      right: 10px;
      font-style: italic;
    }

    .person-info {
      flex: 1;
    }

    .additional-tasks {
      border-top: 1px solid #BCBCBC;
      padding: 10px;
      height: 50px;

      width: 100%;
      font-style: italic;
    }    
  }


  &__controller {
    margin-bottom: 10px;

    .gant-diagram__cell {
      height: 45px;

      &._active {
        span {
          font-weight: 700;
        }

        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          width: 1px;
          background-color: rgba(#FF0000, 0.9);
          transform: translateX(-50%);
          height: 100vh;
          opacity: 0.9;
          z-index: 1000;
        }

        &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: rgba(#FF0000, 0.9);
          left: 50%;
          top: 0;
          transform: translateX(-50%);
        }
      }

      &:not(:first-child) {
       // width: 100px;
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }
    }
  }

  &__controller-switcher {
    display: flex;
    outline: 1px solid #D0D5DF;
    outline-offset: 1px;
    border-radius: 5px;
    background: #F6F6F6;

    a {
      display: flex;
      align-items: center;
      height: 30px;
      line-height: 1;
      font-size: 13px;
      padding: 0 15px;
      color: #000000;

      &._active {
        outline: 1px solid #4E4E4E;
        border-radius: 5px;
        background: #ffffff;
      }
    }
  }

  &__trigger {
    background: #2F65F6;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;

    svg:first-child {
      margin-right: 10px;
    }

    span {
      font-weight: 500;
      margin-left: 5px;
      margin-right: 20px;
      pointer-events: none;
    }
  }


  &__block {
    &._collapsed {
      .gant-diagram__trigger {
        .arrow-svg {
          transform: rotate(180deg);
        }
      }

      .gant-diagram__table-wrapper {
        display: none;
      }
    }
  }

  &__table {
    margin-top: 5px;

    .gant-diagram__cell {
      font-size: 15px;
      width: 100px;
    }

    .gant-diagram__cell:first-child {
      width: 400px;
      justify-content: flex-start;

      a {
        color: #2F65F6;
        font-size: 15px;
        font-weight: 700;
        margin-left: 10px;
      }
    }
  }

}
