.main-menu {
  padding: 15px 0;
  background: linear-gradient(90deg, #5141b3 0%, #484bbd 35.77%, #2f64d8 96.83%, #2e66da 100%);

  .container {
    min-height: 30px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    height: 20px;
  }


  &__personal {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    @media (max-width: 768px) {
      gap: 10px;
    }

    a {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}
