.main-checkbox {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }


  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    color: $black;
  }

  input + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ADB9C7;
    border-radius: 0;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 10px;
  }

  input:checked + label::before {
    background-image: url("../img/check-mark.svg");
  }
}
.main-radio {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }


  input + label {
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    color: $black;
  }

  input + label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ADB9C7;
    border-radius: 50%;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
  }


  input:checked + label::before {
    border: 1px solid #0D77E7;
    background-image: url("../img/check-radio.svg");
  }

}
