.tasks-performers-days {
  padding-bottom: 200px;
  h1 {
    @include opensans-bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .nav-submenu {
    margin-bottom: 35px;
  }

  &__main {
    padding: 15px 0;
  }
}
